body .logo-image{
    background-image:url("../img/backgrounds/h_img.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.logo-image{
    text-align: center;
    color: antiquewhite;
}