body{
    background-image:url("../img/backgrounds/h_img.jpg");
    background-size:cover;
    background-position: 100%;
    padding: 40px;
}
.logo-image{
    text-align: center;
    margin-top: 50px;
    color: antiquewhite;
}